<h1>Pages#info</h1>
<p>Heythrop Schola is a chamber consort established at Heythrop College, University of London. We sing a range of Medieval and modern pieces, as well as Gregorian Chant. We also offer workshops to anyone interested in learning Chant. email schola@heythrop.ac.uk for more info!
<p>Find me in app/views/pages/info.html.erb</p>
